$sizeColumn: (auto clamp(70%, 940px, 75%) auto);
@mixin posIMG($url, $size) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: $size;
  opacity: 100%;
  transition:
    opacity 0.7s ease,
    background-size 0.7s ease;
}
.section3 {
  display: grid;
  grid-template-columns: $sizeColumn;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
  .section3_container {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(50%, 2);
    grid-template-rows: auto 417px 417px;
    row-gap: 96px;
    column-gap: 96px;
    grid-template-areas:
      "section_header section_header"
      "section_img section_img" "section_img_card1 section_img_card2";
  }
}
.card_header {
  grid-area: section_header;
  display: grid;
  grid-template-columns: 260px 540px;
  gap: 93px;
  grid-template-rows: 100%;
  grid-template-areas: "h2 p";
}
.card_img {
  grid-area: section_img;
  @include posIMG(
    "./../../../../public/img/MainPage/section3/Mask\ Group.png",
    100%
  );
  padding: 48px;
  border-radius: 10px;
}
.footer_img1 {
  width: 422px;
  padding: 48px;
  @include posIMG(
    "./../../../../public/img/MainPage/section3/Mask\ Group (1).png",
    100%
  );
  border-radius: 10px;
  grid-area: section_img_card1;
}
.footer_img2 {
  width: 422px;
  border-radius: 10px;
  padding: 48px;
  @include posIMG(
    "./../../../../public/img/MainPage/section3/Mask\ Group (2).png",
    100%
  );
  grid-area: section_img_card2;
}
img {
  width: 100%;
  height: 100%;
}
.card_img:hover,
.footer_img1:hover,
.footer_img2:hover {
  background-size: 120%;
  background-position: center;
  cursor: pointer;
  opacity: 80%;
}
