.main {
  display: grid;
  grid-template-columns: auto 940px auto;
  grid-template-rows: 100%;
  grid-template-areas: "div1 divMain div2";
  div:nth-child(1) {
    grid-area: div1;
  }
  div:nth-child(3) {
    grid-area: div2;
  }
  div:nth-child(2) {
    grid-area: divMain;
  }
}
