$blue_02: #316099;
$white: #ffffff;
$sizeColumn: (auto 940px auto);
@mixin posElem($y) {
  display: flex;
  flex-direction: column;
  gap: $y;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 869px;
  .light, .dark {
    height: 100%;
    background-color: $blue_02;
    border-radius: 0px 200px 0px 0px;
    display: grid;
    grid-template-rows: 391px 1px 478px;
    grid-template-columns: $sizeColumn;
    grid-template-areas: ". top ." ". center ." ". bottom .";
    .top {
      grid-area: top;
      display: grid;
      column-gap: 180px;

      margin-top: 91px;
      grid-template-columns: 460px 220px;
      grid-template-rows: 204px;
      grid-template-areas: "top_left top_right";
      .top_left {
        grid-area: top_left;

        h2 {
          margin-bottom: 32px;
          max-width: 400px;
          color: white !important;
        }
        p {
          max-width: 460px;
          color: white;
        }
      }
      .top_right {
        grid-area: top_right;
        display: grid;
        align-content: center;
      }
    }
    .center {
      grid-area: center;
      opacity: 40%;
      .line_container {
        height: 1px;
        border: 1px solid white;
      }
    }
    .bottom {
      grid-area: bottom;
      display: grid;
      column-gap: 77px;
      grid-template-columns: 300px 163px 97px;
      grid-template-rows: 96px auto 154px;
      margin-top: 98px;
      grid-template-areas: "head1 head2 head3" "cont1 cont2 cont3" "bottoms bottoms bottoms";
      @for $i from 1 to 4 {
        .head#{$i} {
          grid-area: head#{$i};
          @include posElem(0px);
          justify-content: flex-start;
          h3 {
            color: $white;
            margin: 0;
            padding: 0;
          }
        }
      }
      @for $i from 1 to 4 {
        .cont#{$i} {
          grid-area: cont#{$i};
          p {
            padding: 0 !important;
            color: $white !important;
          }
        }
      }
    }
  }
  .dark{
    background-color: var(--color_darkBl)
  }
}
.cont1 {
  @include posElem(24px);
}
.cont2,
.cont3 {
  @include posElem(16px);
  p {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .center {
    display: none;
  }
  footer {
    .light, .dark {
      padding: 10px;
      border-radius: 0px 50px 0px 0px;
      grid-template-rows: 300px 700px;
      grid-template-columns: auto;
      grid-template-areas: "top" "bottom";
      .top {
        grid-area: top;
        margin-top: 10px;
        grid-template-columns: 95vw;
        grid-template-rows: 80% 20%;
        grid-template-areas: "left" "right";
        .top_left {
          grid-area: left;
        }
        .top_right {
          grid-area: right;
        }
      }
      .bottom {
        grid-area: bottom;
        justify-content: center;
        grid-template-columns: 46vw 46vw;
        row-gap: 10px;
        grid-template-rows: 50px 200px 50px 150px 50px 50px 50px 50px 50px;
        margin-top: 40px;
        column-gap: 10px;
        grid-template-areas: "head1 head1" "cont1 cont1" "head2 head3" "cont2 cont3";
        @for $i from 1 to 4 {
          .head#{$i} {
            h3 {
              color: $white;
              margin: 0;
              padding: 0;
            }
          }
        }
        @for $i from 1 to 4 {
          .cont#{$i} {
            grid-area: cont#{$i};
            p {
              padding: 0 !important;
              color: $white !important;
            }
          }
        }
      }
    }
  }
}
