$white: #ffffff;
$Blue_01: #1f3f68;
$Blue_02: #316099;
$Blue_03: #356ead;

$black: black;
.white {
  color: $white !important;
}
.Blue_01 {
  color: $Blue_01;
}
.blue_02 {
  color: $Blue_02;
}
.blue_03 {
  color: $Blue_03;
}
.black {
  color: $black;
}
h1,
h2,
h3 {
  margin-bottom: 16px !important;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
}
