.section3 {
  background-color: rgba(0, 0, 255, 0.197);
}
$sizeColumn: (auto clamp(70%, 940px, 75%) auto);

.section3 {
  display: grid;
  grid-template-columns: $sizeColumn;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
  .section3_container {
    grid-area: content;
    background-color: rgba(255, 0, 0, 0.305);
  }
}
