:root {
  --color_lightOr: #fbe8a6;
  --color_darkOr: #f4976c;
  --color_darkBl: #303c6c;
  --color_lightBl1: #b4dfe5;
  --color_lightBl2: #d2fdff;
}

.light {
  transition: background 0.5s ease;
}
.dark {
  background: var(--color_lightOr);
  transition: background 0.5s ease;
}
