:root{
  --color_lightOr:#FBE8A6;
  --color_darkOr:#F4976C;
  --color_darkBl:#303C6C;
  --color_lightBl1:#B4DFE5;
  --color_lightBl2:#D2FDFF;
}


.light {
  transition: background 0.5s ease;
}
.dark {
  background: var(--color_lightOr);
  transition: background 0.5s ease;
}
