@use "./../../../../AllMixin/allMixin.scss";
.section {
  @include allMixin.posEl(16px);
  flex-direction: column;
  width: 300px;
  height: 479px;
  p{
    padding: 0 !important;
    margin: 0 !important;
  }
}
