@use "./../../../AllMixin/allMixin.scss";

$Blue_01:#1F3F68;
$sizeColumn: (auto 940px auto);
.section2 {
  display: grid;
  grid-template-columns: $sizeColumn;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
  .section2_container {
    grid-area: content;
  }
  .section2_container_top {
    display: grid;
    grid-template-rows: 96px 25px 380px;
    grid-template-columns: auto 540px;
    grid-template-areas:
      "search_input search_input"
      "title ."
      "desc desc_img";
  }
  .section_1 {
    grid-area: search_input;
  }
  .section_2 {
    grid-area: title;
  }
  .section_3 {
    grid-area: desc;
    p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .section_4 {
    grid-area: desc_img;
  }
}
ul {
  margin-top: 32px;
  @include allMixin.posEl(20px);
}
form{
  width: 100%;
  position: relative;
  svg{
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #1F3F68;
    transition: 0.7s;
    &:hover{
      width: 30px;
      height: 30px;
    }
  }
  input{
    width: 100%;
    height: 56px;
    text-indent: 72px;
    font-size: 1.5rem;
  }
}