@use "./../../../AllMixin/allMixin.scss";

.section2 {
}
$sizeColumn: (auto  940px auto);
.section2 {
  display: grid;
  grid-template-columns: $sizeColumn;
  grid-template-rows: 100%;
  grid-template-areas: ". content .";
  .section2_container {
    grid-area: content;
  }
  .section2_container_top {
    display: grid;
    grid-template-rows: 96px 25px 380px;
    grid-template-columns: auto 540px;
    grid-template-areas:
      "search_input search_input"
      "title ."
      "desc desc_img";
  }
  .section_1 {
    grid-area: search_input;
  }
  .section_2 {
    grid-area: title;
  }
  .section_3 {
    grid-area: desc;
    p{
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .section_4 {
    grid-area: desc_img;
  }
}
ul {
  margin-top: 32px;
  @include allMixin.posEl(20px);
}
